* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*formato de la pagina para que no se vea la scrollbar horizonatal  */
body {
    width: 100vw;
    overflow-x: hidden;
}




/* iniciobarra de navegacion */
.navbar-about {
    background: #D3CCE3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #E9E4F0, #D3CCE3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #E9E4F0, #D3CCE3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar {
    background-color: #D9D9D9;
    padding: 0.5rem; 
}

.navbar-brand {
    color: #F20707 !important;
    /* se usa el !important para superponer a otro codigo el mismo modificador */
    font-weight: bold;
    font-size: larger;
}

.navbar-brand img {
    height: 70px;
}

/* color de iconos de nav */
.nav-link {
    color: black;
}
.bg-primary {
    background-color: #ffffff !important;
}



.conteinerimg {
    height: 150px;
    width: 80%;
    background-image: url(/img/pan_d_lado-min.webp);
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

/* fin imagen de corte productos 2  */
/* inico de lista de productos pagProductos.html */
.tablas-prodcuctos {
    width: 90%;
    margin: 0 auto;
}

/* fin de lista de productos pagProductos.html */
.center_recetas {
    margin: 0 auto;
    width: 90vw;
}

.login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    width: 70vw;
    height: 70vh;
    max-width: 600px;
    max-height: 600px;
    border: 1px solid black;
    border-radius: 25px;
    margin: auto;
    padding: 15px;
}

.carrito-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    width: 90vw;
    height: 80vh;
    max-width: 600px;
    max-height: 600px;
    border: 1px solid black;
    border-radius: 25px;
    margin: auto;
    padding: 15px;
    overflow: auto;
}




.list-group-item.active {
    background-color: #F20707;
    border-color: #F20707;
}

